Dockerfile
terraform.tfvars
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
rough.txt
node_modules
main.tf
Jenkinsfile
client/node_modules
client/package-lock.json
package-lock.json